@model WebsiteSupportLibrary.Models.ResetPassword
@{
    ViewBag.Title = "Reset Password";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-Admin.css")" />
}

<div class="pchi-content">
    <div class="MainContent">
        <h2>Reset Password</h2>
        @using (Html.BeginForm("ResetPassword", "Access"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <ol style="list-style-type:none">
                    <li>
                        @Html.LabelFor(m => m.UserName, new { @class = "fieldName" })
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword, new { @class = "fieldName" })
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "fieldName" })
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.SecurityQuestion, new { @class = "fieldName" })
                        @Html.TextBoxFor(m => m.SecurityQuestion, new  { @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.SecurityQuestion)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.SecurityAnswer, new { @class = "fieldName" })
                        @Html.TextBoxFor(m => m.SecurityAnswer)
                        @Html.ValidationMessageFor(m => m.SecurityAnswer)
                    </li>
                </ol>
                <input type="submit" value="Reset password" />
            </fieldset>
        }
    </div>

</div>

