@model WebsiteSupportLibrary.Models.ResetPassword
@{
    ViewBag.Title = "Reset Password";
}

<!-- Content panel Begins-->
<div id="content" style="height: 100%;overflow-y: auto;">

    <!-- RePLAY's Content-->
    <div class="gridContainer clearfix">
        <div id="div1" class="fluid">
            <!--<div class="menu-trigger"></div>-->


            <div data-role="page" id="loginForm">
                @Html.Partial("Notifications")
                <div data-role="header" data-position="">
                    <div id="RePlay-logo"><a href="#home"><img src="~/Content/Images/RePLAYlogo_logo-Header.png" height="45px" alt="" /></a></div>
                </div>
                <div data-role="content">
                    <p>
                        <div data-role="fieldcontain" class="txt-home form">
                            <span class="title-home">@ViewBag.Title</span><br />
                            @using (Html.BeginForm("ResetPassword", "Access"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div>
                                    @Html.LabelFor(m => m.UserName, new { @class = "fieldName" })
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                    <br />
                                    <br />
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "fieldName" })
                                    @Html.PasswordFor(m => m.NewPassword)
                                    @Html.ValidationMessageFor(m => m.NewPassword)
                                    <br />
                                    <br />
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "fieldName" })
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    <br />
                                    <br />
                                    @Html.LabelFor(m => m.SecurityQuestion, new { @class = "fieldName" })
                                    @Html.TextBoxFor(m => m.SecurityQuestion, new { @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.SecurityQuestion)
                                    <br />
                                    <br />
                                    @Html.LabelFor(m => m.SecurityAnswer, new { @class = "fieldName" })
                                    @Html.TextBoxFor(m => m.SecurityAnswer)
                                    @Html.ValidationMessageFor(m => m.SecurityAnswer)
                                    <br />
                                    <br />
                                    <input type="submit" value="Reset password" />
                                </div>
                            }
                        </div>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

