@model WebsiteSupportLibrary.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-Admin.css")" />
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-PopUp.css")" />
}

<div class="MainContent">

    <h2>Change password</h2>
    @Html.Partial("Notifications")
    @using (Html.BeginForm("ChangePassword", "Account", new { patientId = Request["patientId"] }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            @*<legend>Change Password Form</legend>*@
            <ol style="list-style-type: none;">
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { value = Model != null ? Model.OldPassword : string.Empty })
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { value = Model != null ? Model.NewPassword : string.Empty })
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { value = Model != null ? Model.ConfirmPassword : string.Empty })
                </li>
            </ol>
            <input type="submit" value="Change password" />
        </fieldset>
        switch ((string)ViewBag.ShowPopUp)
        {
            case "PopUpAuthenticationCodeField":
                @Html.Partial("PopUpAuthenticationCodeField", new ViewDataDictionary() { { "top", "" }, { "patientId", Request["patientId"] } })
                break;
        }
    }
    <div id="keys-pic"><img src="/Content/images/RePLAY-ChangePass.png" /></div>
</div>
