@model WebsiteSupportLibrary.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-PopUp.css")" />
}
<!-- Content panel Begins-->
<div id="content">
    <!-- RePLAY's Content-->
    <div class="gridContainer clearfix">
        <div id="div1" class="fluid">

            <!--Page-->

            <div data-role="page" id="myRePLAY" class="white">
                <div data-role="header">
                    <!--data-position="fixed"-->

                    <div id="page-title">@ViewBag.Title</div>
                    <div id="RePlay-logo"><a href="/Access/Login" target="_self"><img src="~/Content/Images/RePLAYlogo_logo-Header.png" height="45px" alt="" /></a></div>
                </div>
                <div data-role="content" class="content-frame" style="position: absolute; overflow-y: auto; left: 0px; right: 0px; top: 70px; bottom: 0px;background-color: #ddd;">
                    <!--Starts Conten-->
                    @Html.Partial("Notifications")
                    @using (Html.BeginForm("ChangePassword", "Account", new { patientId = Request["patientId"] }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div class="intro-dashboard">
                            @*<legend>Change Password Form</legend>*@
                            <div data-role="fieldcontain">
                                @Html.LabelFor(m => m.OldPassword)
                                @Html.PasswordFor(m => m.OldPassword, new { value = Model != null ? Model.OldPassword : string.Empty })
                            </div>
                            <div data-role="fieldcontain">
                                @Html.LabelFor(m => m.NewPassword)
                                @Html.PasswordFor(m => m.NewPassword, new { value = Model != null ? Model.NewPassword : string.Empty })
                            </div>
                            <div data-role="fieldcontain">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { value = Model != null ? Model.ConfirmPassword : string.Empty })
                            </div>
                            <input type="submit" data-icon="check" data-iconpos="top" class="green-button" value="Change password" />
                        </div>
                        switch ((string)ViewBag.ShowPopUp)
                        {
                            case "PopUpAuthenticationCodeField":
                                @Html.Partial("PopUpAuthenticationCodeField", new ViewDataDictionary() { { "top", "" }, { "patientId", Request["patientId"] } })
                                break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
